*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark2);
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

::selection {
  background-color: var(--color-primary);
  color: white; }

:root {
  --color-primary:#eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light1:#faf9f9;
  --color-grey-light2:#f4f2f2;
  --color-grey-light3:#f0eeee;
  --color-grey-light4:#ccc;
  --color-grey-dark1:#333;
  --color-grey-dark2:#777;
  --color-grey-dark3:#999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
  --border-bottom:1px solid var(--color-grey-light2);
  --shadow:0 2rem 5rem rgba(0,0,0,.06); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  flex-direction: row; }

.hotel-view {
  background-color: #fff;
  flex: 1 1 auto; }

.sidebar {
  background-color: var(--color-grey-dark1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light1);
  border-bottom: var(--border-bottom); }

.description {
  background-color: white;
  box-shadow: var(--shadow);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 1000px;
    margin-right: -3.25rem;
    width: 90%;
    transition: all .3s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    border: none;
    transition: all .3s;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark3); }
  .search__input:focus + .search__button {
    right: 5%; }

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: -.5rem;
    fill: var(--color-grey-dark3); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 5px; }
  .user-nav__user {
    justify-content: space-around; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-of-type) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item-selected::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    .side-nav__link:link, .side-nav__link:visited {
      color: var(--color-grey-light1);
      text-decoration: none;
      padding: 1.5rem 3rem;
      text-transform: uppercase; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
  color: white; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: var(--border-bottom);
  align-items: center; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 1px; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 3rem; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: white;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      display: flex;
      justify-content: center;
      margin-bottom: -3px; }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulstate 1s infinite; }

@keyframes pulstate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 3rem 0;
  list-style-type: none;
  padding: 3rem 0;
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: .7rem;
    font-size: 1.1rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url("../img/SVG/chevron-thin-right.svg");
    mask-image: url("../img/SVG/chevron-thin-right.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: .7rem; }
  .list__icon {
    fill: var(--color-primary);
    width: 1.75rem;
    height: 1.75rem; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1rem; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    align-items: center;
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    shape-outside: circle(50%); }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: white;
  box-shadow: var(--shadow);
  padding: 3rem;
  position: relative;
  overflow: hidden; }
  .review:not(:last-child) {
    margin-bottom: 3rem; }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__user {
    display: flex;
    align-items: center;
    margin: 2rem 0; }
    .review__user-box {
      margin-right: auto;
      font-size: 1.1rem; }
    .review__user-name {
      color: var(--color-grey-dark1);
      font-weight: 400; }
    .review__user-date {
      color: var(--color-grey-light4); }
  .review__rating {
    align-self: center;
    font-size: 2rem;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: -1rem;
    /* width: 10rem; */
    /* height: 10rem; */
    font-size: 20rem;
    opacity: .3;
    color: var(--color-primary);
    line-height: 1;
    font-family: sans-serif; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }

.btn {
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  border-radius: 100px;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  color: white;
  overflow: hidden; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__hidden {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__hidden {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:focus {
    animation: pulstate 1s infinite;
    outline: none; }
