.container{
    max-width:120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width:$bp-largest){
        margin: 0;
        width:100%;
        max-width: 100%;
    }

}

.header{
    font-size:1.4rem;
    height:7rem;
    background-color: #fff;
    border-bottom:var(--border-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content{
    display: flex;
    flex-direction: row;

    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
        
    }
}

.hotel-view{
    background-color: #fff;
    flex:1 1 auto;
}

.sidebar{
    background-color: var(--color-grey-dark1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light1);
    border-bottom: var(--border-bottom);

    @media only screen and (max-width:$bp-medium){
        padding:3rem;
        flex-direction: column;
        align-items: center;
    }
}

.description{
    background-color: white;
    box-shadow: var(--shadow);
    flex:0 0 60%;
    margin-right: 4.5rem;
    padding:3rem;

    @media only screen and (max-width:$bp-medium){
    margin-bottom: 3rem;
    margin-right: 0rem;
    padding:2rem;
    }

    @media only screen and (max-width:$bp-medium){
        margin:0 0 3rem 0;
    }
}

.user-reviews{
    flex:1;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width:$bp-medium){
        flex-direction:row;
        align-items: stretch;
        flex-wrap: wrap;
    }
}
