*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body{
    box-sizing: inherit;
    font-size: 1.6rem;
    font-family:"Open Sans",sans-serif;
    font-weight:400;
    color:var(--color-grey-dark2);
    line-height:1.6;
    background-image: linear-gradient(to right bottom,var(--color-primary-light),var(--color-primary-dark));
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

::selection{
    background-color:var(--color-primary);
    color:white;
}

:root{
    --color-primary:#eb2f64;
    --color-primary-light:#FF3366;
    --color-primary-dark:#BA265D;

    --color-grey-light1:#faf9f9;
    --color-grey-light2:#f4f2f2;
    --color-grey-light3:#f0eeee;
    --color-grey-light4:#ccc;

    --color-grey-dark1:#333;
    --color-grey-dark2:#777;
    --color-grey-dark3:#999;

    --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);

    --border-bottom:1px solid var(--color-grey-light2);

    --shadow:0 2rem 5rem rgba(0,0,0,.06);
}